<div class="starter-template">
  <h1>Hello, World!</h1>
  <p class="lead">Welcome home.<br> My Friend.</p>
  <input type="button" value="Tester" (click)="showToastr()">
  <input type="button" value="Tester" (click)="showToastr2()">
</div>

<div class="toast" role="alert" aria-live="assertive"
     aria-atomic="true">
  <div class="toast-header">
    <img src="..." class="rounded mr-2" alt="...">
    <strong class="mr-auto">Bootstrap</strong>
    <small>11 mins ago</small>
    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="toast-body">
    Hello, world! This is a toast message.
  </div>
</div>

<script>
  $('.toast').toast(option)
</script>
